<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Renbin Chen y Pablo Tezanos Medina.
</p>


<img src="/images/f1.jpg" width="400"/>
<img src="/images/f2.jpg" width="400"/>

<p>https://github.com/ptezanos</p>

