<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Renbin Chen (https://github.com/rbc1096) y Pablo Tezanos (https://github.com/ptezanos).
</p>

<img width="200" height="300" src="/images/f1.jpg" /> <img width="200" height="300" src="/images/foto1.jpg"/>

