<h1>Ayuda</h1>

<p>
    Este proyecto Quiz 2017 consiste en una red social para crear adivinanzas. Permite que múltiples usuarios las compartan entre sí.<br>
    Un usuario podrá subir al portal una pregunta que los demás usuarios deberán tratar de responder.<br>
    El objetivo de esta web es meramente educativo.
</p>

